<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
		
			<group id="boxshipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Box Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_a_category" translate="label" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box A category name</label>                    
                </field>
                <field id="box_b_category" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box B category name</label>                    
                </field>
                <field id="box_c_category" translate="label" type="text" sortOrder="43" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box C category name</label>                    
                </field>
                <field id="box_a_price" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box A Price/KGS</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_b_price" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box B Price/KGS</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_c_price" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box C Price/KGS</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_a_weight" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box A weight (KG)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_b_weight" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box B weight (KG)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_c_weight" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box C weight (KG)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_a_max_items" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max items/Box A</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_b_max_items" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max items/Box B</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="box_c_max_items" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max items/Box C</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="same_nutrition_items_c" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max same nutrition items/Box C</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_price_value_box_c" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max price value/Box C</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_weight_box_c" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max weight(KGS)/Box C</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="920" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
			
        </section>
		
    </system>
</config>